{
    "secret": "MY_GITHUB_SECRET",
    "port": 7877,
    "repos": {
        "mcisback/nodedeployman": {
            "destpath": "/home/mcisback/Dev/NodeDeployMan",
            "cmd": "(scope) => `cd ${scope.destpath} && echo 'Dir is: ' $(pwd)`"
        }
    }
}